<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Y.mappers.ProductMapper">
    <!--查询所有商品信息-->
    <select id="selectAll" parameterType="String" resultType="Product">
        select product_code,product_name,product_price from order_information.product_information
        <if test="orderBy!= null">
                order by `product_code` ${orderBy}
        </if>
    </select>

    <!--查询单个商品信息(按照商品编号)-->
    <select id="selectProductById" parameterType="int" resultType="Product">
        select `product_code`,`product_name`,`product_price` from `order_information`.`product_information` where `product_code` = #{code}
    </select>

    <!--分页查询订单信息-->
    <select id="selectByPage" resultType="Product">
        select `product_code`,`product_name`,`product_price` from `order_information`.`product_information` order by `product_code` ${orderBy} limit #{startIndex},#{pageSize}
    </select>

    <!--插入商品信息(表中不存在的商品)-->
    <insert id="insertProduct" parameterType="Product">
        insert into `order_information`.`product_information`(`product_code`,`product_name`,`product_price`)
        select #{productCode},#{productName},#{productPrice} from dual
        where not exists (select 1 from `order_information`.`product_information` where `product_code`=#{productCode})
    </insert>

    <!--删除商品信息(按照商品编号)-->
    <insert id="deleteProduct" parameterType="int">
        delete from `order_information`.`product_information` where `product_code`=#{code}
    </insert>

    <!--更新商品信息(按照商品编号)-->
    <update id="updateProduct"><!-- 1. 定义变量 hasValidField：判断是否有至少一个有效字段 -->
        <bind name="hasValidField" value="(name != null) or (price != null and price > 0)" />
        <if test="hasValidField">
        update `order_information`.`product_information`
        <trim prefix="set" suffixOverrides=",">
            <if test="name!= null">
                `product_name`=#{name},
            </if>
            <if test="price > 0">
                `product_price`=#{price},
            </if>
        </trim>
        where `product_code`=#{code}
        </if>
        <if test="!hasValidField">
                select 1 from dual
        </if>
    </update>

</mapper>