<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <property name="helperDialect" value="mysql"/>
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="org.example.utils.DruidDataSourceFactory">
                <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/work_3?serverTimezone=UTC"/>
                <property name="username" value="root"/>
                <property name="password" value="34339008"/>
                <property name="initialSize" value="5"/>
                <property name="maxActive" value="20"/>
                <property name="filters" value="log4j2,stat"/>
                <property name="connectionProperties" value="druid.log.stmt.executableSql=true"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="org/example/mapper/CommodityMapper.xml"/>
        <mapper resource="org/example/mapper/MyOrderMapper.xml"/>
    </mappers>
</configuration>