<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.mapper.CommodityMapper">


    <insert id="add">Insert into commodity(name,price,status) values(#{name},#{price},1)</insert>
    <update id="update">Update commodity set name=#{name},price=#{price} where id=#{id}</update>
    <update id="deleteById">Update commodity set status=0 where id=#{id}</update>
    <select id="queryAll" resultType="org.example.pojo.Commodity" >select id,name,price,status from commodity </select>
    <select id="queryAllShop" resultType="org.example.pojo.Commodity">select id,name,price from commodity where status=1</select>
    <select id="queryById" resultType="org.example.pojo.Commodity">select id,name,price from commodity where id=#{id}</select>
</mapper>