<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.mapper.MyOrderMapper">

    <insert id="add" parameterType="org.example.pojo.MyOrder" useGeneratedKeys="true" keyProperty="id">Insert into my_order(order_time,price) values(#{orderTime},#{price})</insert>
    <insert id="addOrderItem">
        INSERT INTO order_items(my_order_id, commodity_id) VALUES
            <foreach collection="commodityIds" item = "commodityId" separator=",">
                (#{orderId},#{commodityId})
            </foreach>
        on  duplicate key update commodity_count = commodity_count + 1;
    </insert>
    <delete id="deleteByCommodityId">Delete from my_order where id = #{commodityId}</delete>
    <delete id="deleteItemsById">Delete from order_items where my_order_id = #{id}</delete>

    <resultMap id="MyOrderMap" type="org.example.pojo.MyOrder">
        <id property="id" column="order_id"/>
        <result property="orderTime" column="order_time"/>
        <result property="price" column="total_price"/>

        <collection property="commodities" ofType="org.example.pojo.Commodity">
            <result property="name" column="name"/>
            <result property="price" column="price"/>
            <result property="count" column="count"/>
        </collection>
    </resultMap>

    <select id="queryAll" resultMap ="MyOrderMap">
    select mo.id as order_id,mo.order_time,mo.price as total_price,c.name,c.price,oi.commodity_count as count from my_order mo left join order_items oi on mo.id = oi.my_order_id
    left join commodity c on oi.commodity_id = c.id
    </select>
    <select id="queryById" resultMap ="MyOrderMap">
        select mo.id as order_id,mo.order_time,mo.price as total_price,c.name,c.price,oi.commodity_count as count from my_order mo left join order_items oi on mo.id = oi.my_order_id
        left join commodity c on oi.commodity_id = c.id where mo.id=#{id}
    </select>

</mapper>